/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace local "*";

local|custapp 
{
	/*
	skinClass:ClassReference("spark.skins.spark.SparkChromeWindowedApplicationSkin");
	*/
	font-size:18pt;
	font-family:embeddedMyriad;
}

s|DropDownList
{
	skinClass: ClassReference("ui.StretchyDropDownListSkin");
}

.numberLabel
{
	font-weight:bold;
}

local|OrderHistoryList
{
	font-size:12pt;
}

mx|Alert
{
	font-size:18pt;
	font-family:Verdana;
}

mx|DateField
{
	font-size:10pt;
	font-family:Verdana;
}

@font-face {
	src:url("../../src/fonts/MyriadWebPro.ttf");
	fontFamily: embeddedMyriad;
	embedAsCFF: true;
}	
@font-face {
	src:url("../../src/fonts/MyriadWebPro-Bold.ttf");
	fontFamily: embeddedMyriad;
	font-weight:bold;
	embedAsCFF: true;
}	