/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace local "*";
@namespace ui "ui.*";

local|custapp 
{
	/*
	skinClass:ClassReference("spark.skins.spark.SparkChromeWindowedApplicationSkin");
	*/
	font-size:18pt;
	font-family:embeddedMyriad;
	backgroundColor:#404040;

	chromeColor:#666666;  /*808080;*/
}


s|Button
{
	skinClass: ClassReference("ui.CustomButtonSkin");	
}
s|ButtonBarButton
{
	skinClass: ClassReference("ui.CustomButtonBarButtonSkin")	
}

s|DropDownList
{
	skinClass: ClassReference("ui.StretchyDropDownListSkin");
	contentBackgroundColor: #666666;
}

s|DataGrid
{
	content-background-color:white;
}

s|VScrollBar
{
	/* KAI: application-wide wider scrollbars, prolly accomplished with a skin */
}

s|TextInput
{
	skin-class: ClassReference("ui.CustomTextInputSkin");
	content-background-color:white;
}

s|TextInput:normalWithPrompt {
	fontFamily:"arial";
	fontStyle:italic;
}
s|TextInput:disabledWithPrompt {
	fontFamily:"arial";
	fontStyle:italic;
}
s|TabBar
{
	chromeColor:#658ABE;
}
s|Label
{
	color:#FFFFE4;  /*#FFF2E2;*/
}
s|CheckBox
{
	skin-class:ClassReference("ui.CustomCheckBoxSkin");
}
ui|Dialog
{
	/*
	skinClass:ClassReference("spark.skins.spark.SparkChromeWindowedApplicationSkin");
	*/
	font-size:18pt;
	font-family:embeddedMyriad;
	backgroundColor:#404040;
}
local|OrderHistoryList
{
	font-size:12pt;
}
.numberLabel
{
	font-weight:bold;
}

.commandButton, .deleteButton
{
	font-weight:bold;
}
.deleteButton
{
	color:#dd0000;
}

mx|Alert
{
	font-size:18pt;
	font-family:Verdana;
}

mx|DateField
{
	date-chooser-style-name: "dateChooserStyle";
	font-size:10pt;
	font-family:Verdana;
	text-input-class: ClassReference("mx.controls.MXFTETextInput"); 
}
.dateChooserStyle
{
	content-background-color: #FFF2E2;
	color: #666666;
	header-style-name: "dateChooserHeaderStyle";
}
.dateChooserHeaderStyle
{
	color: #FFF2E2;
}

@font-face {
	src:url("../../src/fonts/MyriadWebPro.ttf");
	fontFamily: embeddedMyriad;
	embedAsCFF: true;
}	
@font-face {
	src:url("../../src/fonts/MyriadWebPro-Bold.ttf");
	fontFamily: embeddedMyriad;
	font-weight:bold;
	embedAsCFF: true;
}	