/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace local "*";
@namespace ui "ui.*";

local|custapp 
{
	/*
	skinClass:ClassReference("spark.skins.spark.SparkChromeWindowedApplicationSkin");
	*/
	font-size:18pt;
	font-family:embeddedMyriad;
	backgroundColor:#404040;
	/*color:#FFFFFF;*/

	chromeColor:#666666;  /*808080;*/
}

s|DropDownList
{
	skinClass: ClassReference("ui.StretchyDropDownListSkin");
}

s|TextInput
{
	/*
	contentBackgroundColor:#FFF7CC;
	color:black;
*/
}

s|TextInput:normalWithPrompt {
	color: #ff0000;
	fontFamily:"arial";
	fontStyle:italic;
}
s|TextInput:disabledWithPrompt {
	color: #ff0000;
	fontFamily:"arial";
	fontStyle:italic;
}
s|TabBar
{
	chromeColor:#658ABE;
}
s|Label
{
	color:#FFF2E2;
}
s|CheckBox
{
	skin-class:ClassReference("ui.CustomCheckBoxSkin");
}
ui|Dialog
{
	/*
	skinClass:ClassReference("spark.skins.spark.SparkChromeWindowedApplicationSkin");
	*/
	font-size:18pt;
	font-family:embeddedMyriad;
	backgroundColor:#404040;
}
local|OrderHistoryList
{
	font-size:12pt;
}
.numberLabel
{
	font-weight:bold;
}

.commandButton, .deleteButton
{
	font-weight:bold;
}
.deleteButton
{
	color:#dd0000;
}

mx|Alert
{
	font-size:18pt;
	font-family:Verdana;
}

mx|DateField
{
	font-size:10pt;
	font-family:Verdana;
}

@font-face {
	src:url("../../src/fonts/MyriadWebPro.ttf");
	fontFamily: embeddedMyriad;
	embedAsCFF: true;
}	
@font-face {
	src:url("../../src/fonts/MyriadWebPro-Bold.ttf");
	fontFamily: embeddedMyriad;
	font-weight:bold;
	embedAsCFF: true;
}	